body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
}

/*----header----*/

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.header-logo:hover,
.header-logo:focus {
  color: #2196f3;
}

.web {
  color: #2196f3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

li {
  list-style: none;
}

.header-mailtel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mailtel:hover,
.header-mailtel:focus {
  color: #2196f3;
}

/*---hero---*/

.hero-logo {font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
background-color: #2F303A;}

.hero-btm {font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  color: #FFFFFF;
cursor: pointer;}

.hero-btm:hover,
.hero-btm:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

/*--benefits--*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-hed {font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;}

  .benefits-text {font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;}


    /*---prices---*/

.prices-tittle {font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;}


  /*----team----*/

.team-tittle {font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;}

.team-participant {font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;}

.team-text {font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;}


  /*---footer---*/

  .footer-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  
  .footer-logo:hover,
  .footer-logo:focus {
    color: #2196f3;
  }
  
  .web-f {
    color: #2196f3;
  }

.footer {background-color: #2F303A;}

.adress-link-one {font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;}

.adress-link-one:hover,
.adress-link-one:focus {
  color: #2196f3;
}

.adress-link {font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);}

.adress-link:hover,
.adress-link:focus {color: #2196f3;}


/*---portfolio---*/

.btn-portfolio {font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  color: #212121;
cursor: pointer;}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.prt-ttl {font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;}

.prt-txt {font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;}